body {
	background-color: black;
	color: white;
	text-align: center;
}

p {
}

h1 {
	color: #8f8f8f;
}

ul {
       list-style-type: none;	
}

ul li {
}

nav {
	list-style-type: none;
	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #8f8f8f;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
  	text-decoration: none;
}

nav li a:hover {
	background-color: #4d4d4d;
}
